* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Manrope;
    src: url(./Manrope/Manrope-VariableFont_wght.ttf);
}

body{
    position: relative;
    font-family: Manrope;
}

h1{
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
}

h2{
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 76px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
}

h3{
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #1E1B1B;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.offer{
    text-align: center;
    padding: 80px 0;
}



button{
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #FF6433;
}

/* navbar style */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.road-assistance img{
    background-color: #5CBA99;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

/* nav bar ends */

/* section 1 */

.first-section{
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    
}

section .title{
    margin: 60px 0;
}

section .title button{
    margin-bottom: 30px;
}
section .title .sub-flex{
    display: flex;
    gap: 5px;
}
section .title .sub-flex .clock{
    width: 20px;
    padding-top: 10px;
}

section .banner img{
    width: 400px;
}

section .banner{
    position: relative;
}

section .banner .rounded-rec{
    position: absolute;
}

section .banner .quick-service{
    display: flex;
    top: 12%;
    left: -5%;
    background: #fff;
    padding: 13px 18px;
    border-radius: 30px;
    box-shadow: 0 0 0 8px #E1E1E16E;
    gap: 5px;
}

section .banner .quick-service span{
    padding-top: 10px;
}

section .banner .quick-service p{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: #00D289;
    font-size: 15px;
    padding-left: 6px;
    color: #fff;
}

section .banner .rating{
    display: flex;
    top: 60%;
    left: 60%;
    background: #fff;
    padding: 13px 18px;
    border-radius: 30px;
    box-shadow: 0 0 0 8px #E1E1E16E;
    font-size: 15px;
}

section .banner .rating img{
    width: 25px;
    height: 25px;
    padding-top: 10px;
}


section .title span{
    color: #E2E6E9;
}   

section .title span.time{
    color: #1E1B1B;
}

/* first section close */

/* second section */
.second-section{
    background-color: #E2E6E9;
}

.service{
    display: flex;
    padding: 80px 0;
}

.service-flex{
    display: flex;
    margin: 38px auto;
    gap: 10px;
}

.service-flex .service-content p{
    margin-top: 20px;
}

.service-flex .service-content span{
    font-weight: bold;
}

.service-flex .service-img{
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    padding: 6px;
}

.know{
    display: flex;
    gap: 20px;
    margin-left: 30px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form .input_location{
    width: 100%;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #ccc;
}

/* end section2 */

/* section 3 */
.remark{
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    padding: 80px 0;
    margin: 0 300px 0 100px;
    gap: 100px;
}

.remark h3{
    margin-bottom: 10px;
}

.remarks-option .option{
    display: flex;
    gap: 20px;
}

.remark .remark-text p{
    margin-bottom: 30px;
}

.option p{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #F2F2F2;
}

.option .option-text{
    margin-top: 30px;
}

.option .option-text p{
    color: #1E1B1B;
}

.option .option-text span{
    font-weight: bold;
    color: #1E1B1B;
}



.remark .remark-img p{
    background-color: #661CE7;
    width: 45px;
    height: 45px;
    padding: 13px;
    border-radius: 50%;
}

.remark-img img{
    margin-left: 20px;
}

/* section 3 end */

/* fourth section */

.fourth-section{
    background-color: #E2E6E9;

}



.offer p{
    font-weight: 600;
}

.offer h2{
    margin-bottom: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(200px, auto));
    grid-gap: 5px;
    margin-bottom: 40px;
}

.grid-container div:nth-child(3){
    background-color: #FF6433;
    color: #fff;
}

.grid-container .box{
    background-color: #fff;
    padding: 80px 0;
}

.learn-offer{
    display: flex;
    gap: 20px; 
    justify-content: flex-end;
}
/* section 4 end */

/* section 5 */
.fifth-section{
    position: relative;
    background-color: #F2F2F2;
    padding-bottom: 50px;
    
}

.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, minmax(400px, auto));
    margin-bottom: 40px;
}

.img-container div.img-car{
    background: url(./img/car_boot.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.img-container div.img-engine{
    background: url(./img/engine.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.fifth-section .card{
    position: absolute;
    background-color: #FF6433;
    height: 400px;
    width: 650px;
    top: 0;
    left: 15%;   
}

.fifth-section .card button{
    background-color: #1E1B1B;
}

.fifth-section .card h3{
    color: #fff;
}

.fifth-section .card div{
    margin: 80px 40px;
}

.fifth-section .stat{
    display: flex;
    justify-content: space-evenly;
}

.fifth-section .stat h2{
    color: #661CE7;
}

.fifth-section .stat p{
    font-weight: 600;
}

/* end section 5 */

/* sectiion 6 */
.sixth-section{
    background-color: #FAFAFA;
}

.sixth-section .brand{
    display: flex;
    justify-content: center;
}

/* section 7 */
.seventh-section{
    background-color: #F2F2F2;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, auto));
    grid-template-rows: repeat(1, minmax(250px, auto));
    grid-gap: 20px;
    margin: 0 200px 50px 200px;
}

.card-container .card{
    background-color: #FFFFFF;
    padding: 40px;
}

.card-container .card .card-flex{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card-container .card .card-flex span{
    font-size: 12px;

}

.card-container .card .card-flex p{
    font-weight: bold;

}

.card-container .card .card-flex img{
    width: 50px;
}

.card-container .one{
    grid-column: 1/2;
}

.card-container .two{
    grid-column: 2/3;
}

.seventh-section img.card-dashline{
    margin-left: 600px;
    margin-bottom: 150px;
}
/* end section 7 */

/* section 8 */
.eight-section{
    background-color: #E2E6E9;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, minmax(80px, auto));
    grid-gap: 20px;
    margin: 0 300px 50px 300px;
}

.cards-container .card{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 40px;
    font-size: 24px;
    font-weight: 600;
}

.cards-container .card img{
    width: 40px;
}

.cards-container .one{
    grid-row: 1/3;
}

.cards-container .one p{
    margin-top: 9px;
    font-size: 18px;
    opacity: .5;
}

.cards-container .two{
    grid-row: 3/4;
}
.cards-container .three{
    grid-row: 4/5;
}
.cards-container .four{
    grid-row: 5/6;
}
.cards-container .five{
    grid-row: 6/7;
}
/* end section 8 */

/* section 9 */
.nine-section{
    background-color: #1E1B1B;
    display: flex;
    flex: 1 1 0;
    justify-content: space-evenly;
}

.nine-section{
    color: #FFFFFF;
}

.nine-section div h3{
    color: #FFFFFF;
}

.nine-section div img.gap{
    margin-left: 20px;
}

.nine-section .last-text{
    padding: 100px 100px 0 0;
}

.nine-section .last-text p{
    margin-bottom: 6px;
    margin-top: 20px;
    font-size: 18px;
    opacity: .5;
}

.nine-section .last-text span{
    font-size: 24px;
}

footer{
    background-color: #1E1B1B;
    color: #fff;
}

footer .body2 li a{
    color: #FFFFFF;
}

footer p{
    font-size: 12px;
    opacity: .6;
}


/* end home */
/* ------------- Services ---------------- */
/* first section */

.service-first{
    position: relative;
}

.service-first .card{
    background-color: #1E1B1B;
    margin-left: 45%;
    margin-bottom: 6%;
    height: 400px;
    width: 500px;
      
}

.service-first .card button{
    background-color: #FF6433;
}

.service-first .card h3{
    color: #fff;
}

.service-first .card .card-padding{
    padding-top: 80px;
}

.service-first .card p{
    color: #fff;
}

.service-first .card div{
    margin: 80px 50px;
}

/* end of first section */

/* second section */

.service-second{
    background-color: #F5F5F5;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(200px, auto));
    grid-gap: 5px;
    margin-bottom: 40px;
}

.service-container div:nth-child(2){
    background-color: #FF6433;
    color: #fff;
}

.service-container .box{
    background-color: #fff;
    padding: 80px 0;
}

.service-container .pad{
    background-color: #fff;
    padding-top: 80%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.service-container .pad p{
    opacity: .5;
}

.service-container .pad img{
    width: 50px;
    opacity: .8;
}

.service-container .one{
    grid-column: 1/3;
    grid-row: 1/4;
}

.service-container .two{
    grid-column: 3/4;
    grid-row: 1/2;
}

.service-container .three{
    grid-column: 4/5;
    grid-row: 1/2;
}

.service-container .four{
    grid-column: 3/4;
    grid-row: 2/3;
}

.service-container .five{
    grid-column: 4/5;
    grid-row: 2/3;
}

.service-container .six{
    grid-column: 3/4;
    grid-row: 3/4;
}

.service-container .seven{
    grid-column: 4/5;
    grid-row: 3/4;
}

.service-container .see{
    display: flex;
    gap: 20px;
}

.service-container .see {
    display: flex;
    gap: 20px;
}

/* end of section 2 */

/* section 3 */

.service-third{
    padding-bottom: 400px;
}

.service-flex{
    display: flex;
    margin: 38px auto;
    gap: 10px;
}

.service-flex .service-content p{
    margin-top: 20px;
}

.service-flex .service-content span{
    font-weight: bold;
}

.service-flex img{
    width: 30px;
}

.size{
    padding-right: 450px;
}

.services-options{
    margin: 100px 0 30px 0;
    
}

.services-options .size-2 span{
    font-weight: bold;
    opacity: .6;
}

.size-2{
    padding-left: 400px;
}


/* mobile view */
/* Homepage */
@media screen and (max-width: 426px) {
    /* header */
    .main-header{
        flex-direction: column;
        align-items: flex-start;
    }
    .right-section{
        flex-direction: column;
        display: none;
        width: 100%;
        text-align: center;
    }
    .right-section .navigation{
        border: none;
    }
    .right-section .navigation ul{
        flex-direction: column;
    }
    .right-section .navigation ul li{
        margin: 8px 0;
        width: 100%;
    }
    .right-section .navigation a{
        width: 100%;
        display: block;
    }

    /* first section */
    
    .first-section{
        flex-direction: column;
    }
    .first-section h1{
        font-size: 35px;
        line-height: 40px;
        justify-content: space-between;
    }
    .first-section .banner .main-banner{
        width: 300px;
        margin-bottom: 50px;
    }
    .first-section .banner .quick-service{
        padding: 8px 10px;
    }
    .first-section .banner .quick-service p {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 12px;
        padding: 5px 0 0 2px;
    }
    .first-section .banner .quick-service span {
        font-size: 15px;
        padding: 5px 0 0 0;
    }
    section .banner .rating {
        display: flex;
        left: 50%;
        padding: 10px 13px;
        font-size: 12px;
    }
    section .banner .rating img {
        width: 23px;
        height: 23px;
        padding-top: 10px;
    }

    /* second section */
    .second-section .service{
        flex-direction: column;
    }
    .second-section .service .service-options h2{
        text-align: center;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: -0.03em;
        color: #1E1B1B;
    }
    .second-section .know{
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .second-section .form h3 {
        font-size: 24px;
    }

    /* third section */
    .third-section .remark{
        flex-direction: column;
        margin: 0;
    }
    .third-section .remark-text{
        text-align: center;
    }
    .third-section h3 {
        font-size: 24px;
        gap: 50px;
    }
    .third-section .remarks-option{
        margin: 0 auto;
    }

    /* fourth section */
    .fourth-section .offer h2{
        font-size: 24px;
        line-height: 30px;
        margin-top: 15px;
    }
    .fourth-section .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, minmax(200px, auto));
    }

    /* fifth section */
    .fifth-section .img-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, minmax(200px, auto));
    }
    .fifth-section .card h3{
        font-size: 20px;
    }
    .fifth-section .card div {
        margin: 30px 20px 20px 20px;
    }
    .fifth-section .card {
        height: 170px;
        width: 300px;
        top: 18%;
        left: 13%;
    }
    .fifth-section .stat {
        justify-content: space-around;
    }
    .fifth-section .stat h2{
        font-size: 24px;
        padding-left: 38px;
    }
    .fifth-section .stat p{
        font-size: 11px;
        padding-left: 20px;

    }

    /* sixth section */
    .sixth-section h3{
        font-size: 24px;
    }
    .sixth-section .offer{
        padding: 80px 0 30px 0;
    }
    .sixth-section img{
        width: 300px;
    }

    /* seventh section */
    .seventh-section h3{
        font-size: 24px;
    }
    .seventh-section .offer{
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .seventh-section .card-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, auto));
        grid-template-rows: repeat(2, minmax(250px, auto));
        grid-gap: 20px;
        margin: 100px auto;
    }
    .seventh-section .card-container .one {
        grid-column: 1;
        grid-row: 1/2;
    }
    .seventh-section .card-container .two {
        grid-column: 1;
        grid-row: 2/3;
    }
    .seventh-section img.card-dashline {
        margin-left: 110px;
        margin-bottom: 50px;
    }

    /* eight-section */
    .eight-section h3{
        font-size: 24px;
    }
    .eight-section .cards-container {
        margin: 0 80px 50px 80px;
    }
    .eight-section .cards-container .card {
        font-size: 15px;
    }
    .eight-section .cards-container .one p {
        font-size: 10px;
    }
    .eight-section .cards-container .card img {
        width: 20px;
    }

    /* nine section */
    .nine-section{
        flex-direction: column;
    }
    .nine-section h3 {
        font-size: 24px;
    }
    .nine-section .remark {
        justify-content: space-between;
        padding: 80px 0;
        margin: 0 100px 0 100px;
        text-align: center;
    }
    }
    .nine-section .last-text {
        padding: 50px;
    }
    .nine-section .last-text p {
        font-size: 12px;
    }
    .nine-section .last-text span {
        font-size: 18px;
    }

    


    
    @media screen and (max-width: 370px) {
        .fifth-section .card h3{
            font-size: 15px;
        }
        .fifth-section .card div {
            margin: 20px;
        }
        .fifth-section .card {
            height: 170px;
            width: 250px;
            top: 18%;
            left: 17%;
        }
        .fifth-section .stat h2{
            font-size: 20px;
            padding-left: 30px;
        }
        .first-section .banner .main-banner{
            width: 300px;
            margin-bottom: 50px;
            padding-right: 30px;
        }
    }


    /* tablet view */
    @media screen and (min-width: 427px) and (max-width: 768px) {
        .container{
            width: 80%;
        }
        /* main header */
        .main-header{
            flex-direction: column;
            align-items: flex-start;
        }
        .right-section{
            flex-direction: column;
            display: none;
            width: 100%;
            text-align: center;
        }
        .right-section .navigation{
            border: none;
        }
        .right-section .navigation ul{
            flex-direction: column;
        }
        .right-section .navigation ul li{
            margin: 8px 0;
            width: 100%;
        }
        .right-section .navigation a{
            width: 100%;
            display: block;
        }
        
        /* first section */
        .first-section{
            padding-top: 40px;
        }
        .first-section h1{
            font-size: 35px;
            line-height: 40px;
            justify-content: space-between;
        }
        .first-section .banner .main-banner{
            width: 300px;
            margin-bottom: 50px;
        }
        .first-section .banner .quick-service{
            padding: 8px 10px;
        }
        .first-section .banner .quick-service p {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 12px;
            padding: 5px 0 0 2px;
        }
        .first-section .banner .quick-service span {
            font-size: 15px;
            padding: 5px 0 0 0;
        }
        section .banner .rating {
            display: flex;
            top: 55%;
            left: 50%;
            padding: 10px 13px;
            font-size: 12px;
        }
        section .banner .rating img {
            width: 24px;
            height: 24px;
            padding-top: 10px;
        }
        .first-section .sub-flex .time p{
            font-size: 15px;
            
        }

        /* second section */
        .second-section .service{
            flex-direction: column;
        }
        .second-section .service .service-options h2{
            font-size: 30px;
            line-height: 40px;
            letter-spacing: -0.03em;
            color: #1E1B1B;
        }
        .second-section .know{
            margin-left: 50px;
            margin-bottom: 20px;
        }
        .second-section .form h3 {
            font-size: 28px;
            margin-top: 20px;
        }

        /* third section */
        .third-section{
            width: 70%;
            margin: 0 auto;
        }
        .third-section .remark{
            flex-direction: column;
            margin: 0;
            justify-content: left;
        }
        
        .third-section h3 {
            font-size: 40px;
            gap: 50px;
        }
        .third-section .remarks-option{
            margin: 0 0 0 10px;
        }

        /* fourth section */
        .fourth-section .offer h2{
            font-size: 45px;
            line-height: 60px;
            margin-bottom: 30px;
        }
        .fourth-section .grid-container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, minmax(200px, auto));
        }

        /* fifth section */
        .fifth-section .card {
            height: 300px;
            width: 500px;
            top: 8%;
            left: 17%;
        }
        .fifth-section .card h3 {
            font-size: 30px;
        }
        .fifth-section .card div {
            margin: 80px 40px;
        }
        .fifth-section .stat h2 {
            font-size: 35px;
        }

        /* seixth section */
        .sixth-section .offer{
            padding: 80px auto 20px auto;
        }
        .sixth-section .brand img{
            width: 700px;
        }

        /* seventh section */
        .seventh-section h3{
            font-size: 40px;
        }
        .seventh-section .card-container {
            margin: 0 100px 50px 100px;
        }
        .seventh-section img.card-dashline {
            margin-left: 320px;
            margin-bottom: 150px;
        }

        /* eight section */
        .eight-section .cards-container .card {
            font-size: 18px;
        }
        .eight-section .cards-container .card img {
            width: 20px;
        }
        .eight-section .cards-container .one p {
            font-size: 13px;
        }

        /* nine section */
        .nine-section h3 {
            font-size: 20px;
            padding-left: 40px;
        }
        .nine-section .remark {
            justify-content: space-between;
            padding: 80px 0;
            margin: 0 20px 0 100px;
            text-align: center;
        }
        
        .nine-section .last-text {
            padding: 50px 50px 50px 0;
        }
        .nine-section .last-text p {
            font-size: 12px;
        }
        .nine-section .last-text span {
            font-size: 18px;
        }
        .nine-section .last-text span {
            font-size: 13px;
        }
}


/* service page */
@media screen and (max-width: 426px) {
        
    /* first section */

    .service-first .card {
        background-color: #1E1B1B;
        margin-left: 20%;
        margin-bottom: 6%;
        height: 300px;
        width: 300px;
    }
    .service-first .card .card-padding {
        padding-top: 30px;
    }
    .service-first .card h3 {
        font-size: 24px;
    }
    .service-first .card p {
        font-size: 13px;
    }

    /* second service */
    .service-second .service-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, minmax(200px, auto));
    }
    
    .service-second .service-container .one {
        grid-column: 1;
        grid-row: 1/2;
    }
    .service-second .service-container .two {
        grid-column: 1;
        grid-row: 2/3;
    }
    .service-second .service-container .three {
        grid-column: 1;
        grid-row: 3/4;
    }
    .service-second .service-container .four {
        grid-column: 1;
        grid-row: 4/5;
    }
    .service-second .service-container .five {
        grid-column: 1;
        grid-row: 5/6;
    }
    .service-second .service-container .six {
        grid-column: 1;
        grid-row: 6/7;
    }
    .service-second .service-container .seven {
        grid-column: 1;
        grid-row: 7/8;
    }
    .service-container .pad {
        padding-top: 30%;
        padding-bottom: 30px;
    }

    /* third section */
    .service-third {
        padding-bottom: 200px;
    }
    .service-third .services-options {
        margin: 30px;
    }
    .service-third .services-options .size {
        padding: 0;
    }
    .service-third .services-options .size h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .service-third .services-options .size-2 {
        padding: 0;
    }
    .service-third .services-options .size-2 h3 {
        font-size: 24px;
        line-height: 30px;
    }
}
   /*end of service mobile view  */
    
    /* service page tablet view */

    /* first section */
@media screen and (min-width: 427px) and (max-width: 768px) {
    .service-first .card {
        margin-left: 20%;
    }

    .service-third {
        padding-bottom: 200px;
    }
    .service-third .services-options {
        margin: 30px;
    }
    .service-third .services-options .size {
        padding: 0;
    }
    .service-third .services-options .size h3 {
        font-size: 34px;
        line-height: 50px;
        margin-top: 80px;
    }
    .service-third .services-options .size-2 {
        padding: 0;
    }
    .service-third .services-options .size-2 h3 {
        font-size: 34px;
        line-height: 50px;
        margin-top: 80px;
    }
}
